
*{ /* element Global */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;

    background: linear-gradient(-45deg,#1654ffc7 3%, #ee82eeaf 20%, #000, #000, #1654ffc7, #dda0ddb6, #ee82eeaf) no-repeat;
}

/* Main-principal - Conteúdo-Protifólio */
#conteudo {
    width: 100%;
    margin: 1rem 0 1rem 0;

    background-color:transparent;
    backdrop-filter: blur(50px);
    border: solid 1px var(--var-Color-Border_main);
    border-radius: 10px;
}

footer {
    padding: 1rem 2rem;

    display: flex;
    justify-content: end;
}
footer .logo__dio::before {
    content: url(/assets/img/svg/logoDIO.svg);
}